.center{
  text-align: center;
}
h1, p{
  font-family: monospace;
}
.box{
  border-style: double;
  background-color: #ffb9ed;
}
.box1{
  border-style: single;
  background-color: #ffb9ed;
}
body { /* Baggrund */
  background-image: url("../images/wallpaper.jpg");
}
.column1 {
  width: 100%;
  text-align: center;
}
.column2 {
  width: 100%;
  text-align: center;
}
